.containerButtons {
    align-self: flex-end;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1%;
}

.btnSearch {
    margin-right: 1%;
}

.col-editar a {
    margin-right: 5px;
}

.msg-estado {
    background-color: #149700;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1vw 5vw;
    border-radius: 10px;
}